services:
  - type: web
    name: go-chatgpt-api
    runtime: go
    plan: free
    buildCommand: go build -ldflags="-w -s" -o go-chatgpt-api main.go
    startCommand: ./go-chatgpt-api
  - watchtower:
    container_name: watchtower
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 3600
    restart: unless-stopped
